@import-normalize;
@font-face {
	font-family: 'Fascinate';
	src: local('Fascinate'),
		url(./assets/fonts/Fascinate-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
		url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

* {
	box-sizing: border-box;
}

body {
	position: absolute;
	margin: 0px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	min-height: 100vh;
}

#root {
	width: 100%;
	margin: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: antiquewhite;
}

button {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.2rem;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

button:hover {
	cursor: pointer;
}

.site-title-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	font-family: 'Fascinate', sans-serif;
	font-size: 1.5rem;
}

.site-title-div > * {
	text-decoration: none;
	color: red;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

nav li,
nav a {
	list-style-type: none;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 600;
}

nav a:hover {
	text-decoration: underline;
}

.cart-container a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.cart-img {
	height: 40px;
}

main {
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	margin-top: auto;
}

h2 {
	font-size: 3rem;
}

.page-content {
	padding: 50px;
}

.page-title-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.storefront {
	width: 100%;
}

.product-preview-container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	width: 100%;
}

.product-preview {
	display: flex;
	padding: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

.product-preview > img {
	max-width: 100px;
}

.product-preview > img:hover {
	cursor: pointer;
}

.product-preview > button {
	width: 100%;
}

.cart {
	width: 100%;
}

.cart-details {
	margin: auto;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
}

.cart-products-list {
	display: flex;
	width: 80%;
	min-width: 250px;
	flex-direction: column;
	gap: 15px;
}

.cart-products-header {
	display: grid;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
	gap: 25px;
	grid-template-columns: 100px 3fr 100px 1fr;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 25px;
	min-width: 600px;
}

.cart-products-header > div:first-child {
	grid-column: 1 / 3;
}

.cart-product-preview {
	display: grid;
	gap: 25px;
	grid-template-columns: 100px 3fr 100px 1fr;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 25px;
	min-width: 500px;
}

.cart-product-preview > div:last-child {
	text-align: center;
}

.cart-product-preview--empty {
	text-align: center;
	min-width: 500px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 25px;
}

.cart-summary {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 200px;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 25px;
	min-width: 250px;
	justify-self: flex-end;
}

.cart-summary > h3 {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	background-image: url('./assets/images/hero.jpg');
	background-size: cover;
	position: relative;
}

.hero-text {
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.538);
	color: white;
	padding: 2rem;
	border-radius: 5px;
	text-align: center;
	margin: 0px 50px;
}

.hero-text > h2 {
	font-size: 4rem;
	font-family: 'Fascinate', sans-serif;
}

.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 150px;
	width: 100%;
}

.popular-items > h2 {
	text-align: center;
	margin-bottom: 50px;
}

.light-bg {
	background-color: #ffffff !important;
}

.dark-bg {
	background-color: #f1f1f4 !important;
}

.intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	gap: 50px;
	justify-content: space-between;
	align-items: center;
}

.intro-section {
	max-width: 300px;
}

.about {
	text-align: center;
	gap: 25px;
}
@media only screen and (max-width: 800px) {
	header {
		justify-content: center;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 1.5rem;
	}

	.hero-text > h2 {
		font-size: 2rem;
	}

	.cart-product-preview {
		display: flex;
		flex-direction: column;
		gap: 25px;
		align-items: center;
		border: 1px solid lightgray;
		border-radius: 5px;
		min-width: 250px;
	}

	.cart-product-preview--empty {
		min-width: 250px;
	}
}
